
<h></h>
<script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "FAQPage",
            "mainEntity": [
{% assign pages_list = site.html_pages | sort:"nav_order" %}
{% for node in pages_list %}
{% unless node.nav_exclude %}
{% if node.parent == nil %}
    {% if page.parent == node.title or page.grand_parent == node.title %}
    {% assign first_level_url = node.url | absolute_url %}
    {% endif %}
        
        {
            "@type": "Question",
            "name": "{{ node.title }}",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "{{node.content}}"
            }
          },
    {% if node.has_children %}
    {% assign children_list = site.html_pages | sort:"nav_order" %}
        {% for child in children_list %}
        {% if child.parent == node.title %}
            {% if page.url == child.url or page.parent == child.title %}
            {% assign second_level_url = child.url | absolute_url %}
            {% endif %}
            {
                "@type": "Question",
                "name": "{{ child.title }}",
                "acceptedAnswer": {
                  "@type": "Answer",
                  "text": "{{child.content}}"
                }
              },
            {% if child.has_children %}
            {% assign grand_children_list = site.html_pages | sort:"nav_order" %}
            <ul class="navigation-list-child-list">
                {% for grand_child in grand_children_list %}
                {% if grand_child.parent == child.title %}
                    "@type": "Question",
                    "name": "{{ grand_child.title }}",
                    "acceptedAnswer": {
                      "@type": "Answer",
                      "text": "{{grand_child.content}}"
                    }
                  },
                {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}
{% endunless %}
{% endfor %}
]
      }
</script>