<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
      {% for faq_entry in site.data.faq %}
      {
        "@type": "Question",
        "name": "{{ faq_entry.name }}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "{{ faq_entry.text }}"
        }
      }, 
      {% endfor %}

      {
        "@type": "Question",
        "name": "",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": ""
        }
      }
      ]
      }
    </script>