<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-74118570-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-74118570-3');
</script>


<nav class="navigation" id="navigation">
  <section class="container">
    <a class="button-clear" href="{{ site.baseurl }}/">{{ site.title }}</a>

    {% assign pages = site.pages | sort:"weight" %}
    <div style="float: right;">
      {% for page in pages %}
        {% if page.title %}
        {% if page.menu %}
        <a class="button button-clear" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
        {% endif %}
      {% endfor %}
      <a class="button button-clear" href="/blog/feed.xml">rss</a>
    </div>
  </section>
  <br>
</nav>
